﻿<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<div style="width:100%!important;margin:0;padding:0;background-color:#f4f4f4">
		<table style="table-layout:fixed" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
			<tbody>
				<tr>
					<td valign="top" align="center">
						<table style="margin:0 auto;max-width:620px" role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" class="m_21144920571271923pc-email-container">
							<tbody>
								<tr>
									<td style="padding:0 10px" valign="top" align="left">
										<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
											<tbody>
												<tr>
													<td style="font-size:1px;line-height:1px" height="8">&nbsp;</td>
												</tr>
											</tbody>
										</table>
										<table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
											<tbody>
												<tr>
													<td valign="top">
														<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
															<tbody>
																<tr>
																	<td style="padding:30px 40px 40px;background-color:#ffffff" bgcolor="#ffffff" valign="top" width="100%" class="m_21144920571271923pc-sm-p-25-30-35 m_21144920571271923pc-xs-p-15-20-25">
																		<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
																			<tbody>
																				<tr>
																					<td style="font-size:0!important;line-height:100%;padding-top:8px;text-align:center">
																						<div style="display:inline-block;font-size:0;margin:0 auto;max-width:660px;min-width:0!important;text-align:center;vertical-align:top;width:100%">
																							<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:100%;width:100%">
																								<tbody>
																									<tr>
																										<td style="color:#4cbb17;font-family:'Circular','Google Sans',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-size:24px;font-weight:800;line-height:100%;min-width:100%;padding-left:8px;padding-right:8px;text-align:left;vertical-align:top;width:100%">
																											<img src="https://res.cloudinary.com/explore-gidi/image/upload/v1594501517/irwk2jqnqercvcknfxfb.png" width="64" height="24" style="height:24px;max-width:200px;width:auto" class="CToWUd">
																											Gidi Eats
																										</td>
																									</tr>
																								</tbody>
																							</table>
																							<table role="presentation" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="display:table;margin-left:auto;margin-right:auto">
																								<tbody>
																									<tr>
																										<td style="background-color:transparent!important;border-bottom:1px solid rgba(60,60,60,0.07);border-bottom-color:rgba(60,60,60,0.07);font-size:0;height:2px;line-height:1px;min-height:1px;overflow:hidden;padding-bottom:24px">&nbsp; </td>
																									</tr>
																								</tbody>
																							</table>
																						</div>
																					</td>
																				</tr>
																				<tr>
																					<td style="font-size:1px;line-height:1px" height="10">&nbsp;</td>
																				</tr>
																			</tbody>
																			<tbody>
																				<tr>
																					<td valign="top" style="line-height:28px;font-family:'Helvetica',Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;letter-spacing:-0.2px;color:#000000">
																						<h1 style="color:#0b6623;font-family:'Circular','Google Sans',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-size:18px;line-height:44px;margin-bottom:14px;margin-left:0;margin-right:0;margin-top:8px;padding:0">Hello {{username}}, </h1>

																						<p style="color:#052b05;font-family:'Circular','Google Sans',sans-serif;font-size:16px;line-height:1.6;margin-bottom:30px;margin-top:0">
																							Your password has just been reset successfully.
																							<br />
																							<br />
																							If this action wasn't performed by you, click the button below to contact support immediately
																						</p>
																					</td>
																				</tr>
																				<tr>
																					<td style="min-width:100%;text-align:left;vertical-align:top;width:100%">
																						<a href="mailto:support@gidieats.com" style="background-color:#4cbb17;border-radius:4px;color:white!important;font-family:'Circular','Google Sans',sans-serif;font-size:14px;font-weight:600;letter-spacing:1.4px;padding-bottom:16px;padding-left:32px;padding-right:32px;padding-top:16px;text-decoration:none!important;text-transform:uppercase" target="_blank">Contact Support</a>
																					</td>
																				</tr>
																				<tr>
																					<td valign="top" style="line-height:28px;font-family:'Helvetica',Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;letter-spacing:-0.2px;color:#000000">
																						<p style="color:#052b05;font-family:'Circular','Google Sans',sans-serif;font-size:16px;line-height:1.6;margin-bottom:30px;margin-top:32px;">
																							From,
																							<br />
																							The Gidi Eats Team
																						</p>
																					</td>
																				</tr>
																				<tr>
																					<td style="background-position:50% 0;background-repeat:no-repeat;border:0;border-radius:3px;min-width:100%;padding-left:8px;padding-right:8px;text-align:left;vertical-align:top;width:100%">
																						<p style="border-top:1px solid rgba(60,60,60,0.07);color:#052b05;font-family:'Circular','Google Sans',sans-serif;font-size:12px;line-height:1.6;margin-bottom:20px;padding-top:20px">Get our app on <a href="#" style="color:#4cbb17;font-family:'Circular','Google Sans',sans-serif;text-decoration:none" target="_blank">Android</a> and <a href="#" style="color:#4cbb17;font-family:'Circular','Google Sans',sans-serif;text-decoration:none" target="_blank">iOS</a> </p>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>

														<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:100%;width:100%">
															<tbody>
																<tr>
																	<td style="background-color:#4cbb17;display:block;font-size:0!important;height:250px;line-height:100%;padding-left:8px;padding-right:8px;text-align:center">
																		<div style="display:inline-block;font-size:0;margin:0 auto;max-width:660px;min-width:0!important;text-align:center;vertical-align:top;width:100%">
																			<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:100%;width:100%">
																				<tbody>
																					<tr>
																						<td style="min-width:100%;padding-left:8px;padding-right:8px;vertical-align:top;width:100%">
																							<div style="display:inline-block;float:left;font-size:0;min-width:0!important;vertical-align:top;width:50%">
																								<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:100%;padding-top:32px;width:100%">
																									<tbody>
																										<tr>
																											<td style="color:#ffffff;font-family:'Circular','Google Sans',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif!important;font-size:24px;font-weight:800;line-height:100%;min-width:100%;padding-left:8px;padding-right:8px;text-align:left;vertical-align:top;width:100%">
																												<img src="https://res.cloudinary.com/explore-gidi/image/upload/v1594501517/irwk2jqnqercvcknfxfb.png" width="64" height="24" style="height:24px;max-width:200px;width:auto" class="CToWUd">
																												Gidi Eats
																											</td>
																										</tr>
																									</tbody>
																								</table>
																							</div>
																							<div style="display:inline-block;float:right;font-size:0;min-width:0!important;vertical-align:top;width:50%">
																								<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-left:auto;margin-right:0;min-width:100%;padding-top:40px;text-align:right;width:100%">
																									<tbody>
																										<tr>
																											<td style="color:#052b05;display:inline;font-size:16px;min-width:100%;padding-left:8px;padding-right:8px;vertical-align:top;width:100%">
																												<a href="https://twitter.com/GidiEats_" style="color:#052b05;font-family:'Circular','Google Sans',sans-serif;text-decoration:underline" target="_blank"><img src="https://bit.ly/twitter_logo_url" alt="Twitter" style="height:16px;width:auto;margin-top:8px;max-width:24px;margin-left:20px" class="CToWUd"></a>
																												<a href="https://instagram.com/gidieats_" style="color:#052b05;font-family:'Circular','Google Sans',sans-serif;text-decoration:underline" target="_blank"><img src="https://bit.ly/instagram_logo_url" alt="Instagram" style="height:16px;width:auto;margin-top:8px;max-width:24px;margin-left:20px" class="CToWUd"></a>
																												<a href="https://facebook.com/gidieats" style="color:#052b05;font-family:'Circular','Google Sans',sans-serif;text-decoration:underline" target="_blank"><img src="https://bit.ly/facebook_logo_url" alt="Facebook" style="height:16px;width:auto;margin-top:8px;max-width:24px;margin-left:20px" class="CToWUd"></a>
																											</td>
																										</tr>
																									</tbody>
																								</table>
																							</div>
																							<table role="presentation" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="display:table;margin-left:auto;margin-right:auto;padding-top:32px">
																								<tbody>
																									<tr>
																										<td style="background-color:transparent!important;border-bottom:1px solid rgba(255,255,255,0.07);color:#052b05;font-size:16px;height:2px;line-height:1px;min-height:1px;overflow:hidden">&nbsp; </td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																			<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:100%;width:100%">
																				<tbody>
																					<tr>
																						<td style="min-width:100%;padding-left:8px;padding-right:8px;vertical-align:top;width:100%">
																							<div style="display:inline-block;float:left;font-size:0;min-width:0!important;vertical-align:top;width:50%">
																								<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:100%;padding-top:32px;width:100%">
																									<tbody>
																										<tr>
																											<td style="color:#052b05;font-size:16px;min-width:100%;padding-left:8px;padding-right:8px;text-align:left;vertical-align:top;width:100%">
																												<a href="mailto:support@gidieats.com" style="color:white;display:block;font-family:'Circular','Google Sans',sans-serif;font-size:13px;margin-bottom:25px;text-decoration:none!important" target="_blank">Contact Support</a>
																												<a href="https://gidieats.com/privacy" style="color:white;display:block;font-family:'Circular','Google Sans',sans-serif;font-size:13px;margin-bottom:25px;text-decoration:none!important" target="_blank">Privacy</a>
																												<a href="https://gidieats.com/terms" style="color:white;display:block;font-family:'Circular','Google Sans',sans-serif;font-size:13px;margin-bottom:25px;text-decoration:none!important" target="_blank">Terms</a>
																											</td>
																										</tr>
																									</tbody>
																								</table>
																							</div>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</div>

																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>

					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>